email-validator==2.1.0.post1
fastapi==0.104.1
fastapi-mail==1.4.1
gcloud==0.17.0
jose==1.0.0
psycopg2-binary==2.9.9
pydantic==2.4.2
pydantic-settings==2.1.0
pydantic_core==2.10.1
Pyrebase==3.0.27
python-dotenv==1.0.0
python-jwt==2.0.1
pycryptodome==3.4.3
requests==2.11.1
requests-toolbelt==0.7.0
SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.41.1
starlette==0.27.0
typing_extensions==4.8.0
oauth2client==3.0.0
urllib3==2.0.6
uvicorn==0.24.0.post1